<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.dao.OrderDao">
    <select id="ifOrderIdExist" resultType="int">
        select count(*) from user_order where order_id = #{orderId};
    </select>
    <insert id="applyOrder">
        insert into user_order values (#{order_id},false,#{uid},#{address});
    </insert>
    <insert id="applyProduct">
        insert into order_product values (#{order_id},#{pid},#{pnum});
    </insert>
<!--    <delete id="">-->
<!--        -->
<!--    </delete>-->
    <update id="ok">
        update user_order set status = true where order_id = #{orderId};
    </update>
    <select id="getProductByOrderId" resultType="hashmap">
        select order_product.pid pid,order_product.pnum pnum,item_info.price price,item_info.pdetails pdetails,item_info.pname pname,item_info.image image,item_type.type_name type_name from order_product,item_info,item_type where order_id = #{orderId} and item_info.type_id = item_type.type_id and item_info.pid = order_product.pid;
    </select>
    <select id="getOrderByOrderId" resultType="hashmap">
        select status,address from user_order where order_id = #{orderId};
    </select>
    <select id="getOrderIdByUid" resultType="string">
        select order_id from user_order where user_id = #{uid};
    </select>

</mapper>